<div id="<%= dom_id user %>">
  <p>
    <strong>Name ciphertext:</strong>
    <%= user.name_ciphertext %>
  </p>

  <p>
    <strong>Email ciphertext:</strong>
    <%= user.email_ciphertext %>
  </p>

  <p>
    <strong>Suburb ciphertext:</strong>
    <%= user.suburb_ciphertext %>
  </p>

  <p>
    <strong>Verified ciphertext:</strong>
    <%= user.verified_ciphertext %>
  </p>

  <p>
    <strong>Age ciphertext:</strong>
    <%= user.age_ciphertext %>
  </p>

  <p>
    <strong>Latitude ciphertext:</strong>
    <%= user.latitude_ciphertext %>
  </p>

  <p>
    <strong>Dob ciphertext:</strong>
    <%= user.dob_ciphertext %>
  </p>

</div>
